@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/modal-btn';
@import './components/logo';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/overlay';
@import './components/mobile-menu';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantage';
@import './layouts/work';
@import './layouts/team';
@import './layouts/client';
@import './layouts/footer';
@import './layouts/portfolio';


