.modal {
  max-width: 450px;
  min-height: 609px;
  padding: 40px;

  background-color: var(--primari-buckground-color);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX( -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.modal-close {
  transition: fill var(--animation);

  .close-btn:hover & {
    fill: var(--secondary-font-color);
  }
}

.modal-close {
  transition: fill var(--animation);

  .close-btn:hover & {
    fill: var(--secondary-font-color);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 580px;
  }
}




