.molal__btn_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primari-buckground-color);
  background-color: var(--secondary-font-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--animation);
  
  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}
