.section-footer {
  background-color: var(--buckground-color-2);
  line-height: 1.7;

  padding: 60px 0px;
}

.site-footer-2 {
  color: var(--primari-buckground-color);
  transition: color var(--animation);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--secondary-font-color);
  }
}

.footer-fon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: rgba(255, 255, 255, 1);
  gap: 10px;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(33, 150, 243, 1);
  }
}


.footer-btn-icon {
  fill: var(--primari-buckground-color);
  margin-left: 10px;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primari-buckground-color);
  background-color: var(--secondary-font-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}

  .site-footer {
    color: var(--font-color-footer);
    line-height: 1.7;
    transition: color var(--animation);
    font-style: normal;

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .footer-text {
    text-transform: uppercase;
    color: var(--primari-buckground-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 20px;
  }


@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .footer-text {
    text-transform: uppercase;
    color: var(--primari-buckground-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 20px;
  }

  .site-footer {
    color: var(--font-color-footer);
    line-height: 1.7;
    transition: color var(--animation);
    font-style: normal;

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .site-footer-2 {
    color: var(--primari-buckground-color);
    transition: color var(--animation);
    font-style: normal;

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .footer-top {
    margin-top: 20px;
  }

  .footer-bottom {
    margin-bottom: 9px;
  }

  .section-footer {
    background-color: var(--buckground-color-2);
    line-height: 1.7;

    padding: 60px 0px;
  }
  .footer-icon {
    display: flex;
    padding: 0;
    margin-top: 0;
    gap: 10px;
    align-items: center;
  }

  .footer-fon {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--animation);

    &:hover,
    &:focus {
      background-color: rgba(33, 150, 243, 1);
    }
  }

  .footer__icon {
    fill: rgba(255, 255, 255, 1);
  }

  .section-footer .footer-block {
    display: flex;
    align-items: baseline;
  }

  .section-footer .footer-list {
    margin-left: 70px;
  }

  .footer-form {
    margin-left: auto;
  }

  .footer-email-form {
    display: flex;
  }

  .footer-email-form {
    display: flex;
  }

  .email-form-input {
    padding: 15px 16px;
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  .email-form-field {
    margin-right: 12px;
  }

  .footer-btn-icon {
    fill: var(--primari-buckground-color);
    margin-left: 10px;
  }

  .footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primari-buckground-color);
    background-color: var(--secondary-font-color);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--animation);

    &:hover,
    &:focus {
      background-color: rgba(24, 140, 232, 1);
    }
  }
}
