.footer-page {
  background-color: var(--buckground-color-2);
  line-height: 1.7;

  padding: 60px 0px;
}

.footer__logo_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  margin-top: 20px;
}

.footer__bottom {
  margin-bottom: 9px;
}

.footer__address {
  color: var(--primari-buckground-color);
  transition: color var(--animation);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--secondary-font-color);
  }
}

.footer__contact {
  color: var(--font-color-footer);
  line-height: 1.7;
  transition: color var(--animation);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--secondary-font-color);
  }
}

// соцмережі

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 60px 0px;
}

.footer__text {
  text-transform: uppercase;
  text-align: center;
  color: var(--primari-buckground-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
}

.footer__icon_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  column-gap: 10px;
}

.footer__icon_color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: rgba(255, 255, 255, 1);
  gap: 10px;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(33, 150, 243, 1);
  }
}

.footer__item {
  color: var(--font-color-footer);
  line-height: 1.7;
  transition: color var(--animation);
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--secondary-font-color);
  }
}

// Форма

.footer__form {
  display: block;
}

.footer__email_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__email_input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn_icon {
  fill: var(--primari-buckground-color);
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primari-buckground-color);
  background-color: var(--secondary-font-color);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  gap: 10px;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .footer__social {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer__text_email {
    margin-top: 60px;
  }

  .footer__email_input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    display: flex;
    align-items: baseline;
  }

  .footer__logo_contact {
    display: block;
  }

  .footer__item {
    display: block;
  }

  .footer__text_email {
    margin-top: 0px;
  }

  .footer__social {
    display: block;
    margin-left: 70px;
    margin-right: 93px;
  }

  .footer__text {
    text-align: left;
  }

  .footer__email_input {
    width: 358px;
  }

  .footer__email_form {
    flex-direction: row;
    gap: 12px;
  }
}
