@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .contact {
    display: none;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .mobile-button-open {
    margin: 0;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    transition: fill var(--animation);
  
    &:hover,
    &:focus {
      fill: var(--secondary-font-color);
    }
  }

  .mobile-burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-button-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  }

  .header__section {
    display: flex;
    align-items: center;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    margin-left: 88px;
    gap: 56px;
  }

  .nav__link {
    display: block;
    color: var(--third-font-color);
    font-weight: 500;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .nav__link_current {
    color: var(--secondary-font-color);
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--secondary-font-color);
      position: absolute;
      left: 0;
      bottom: -3px;
      border-radius: 2px;
    }
  }

  .contact {

    margin-left: auto;
  }

  .contact__link {
    display: flex;
    color: var(--contact-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    padding-top: 21px;
    padding-bottom: 5px;

    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .contact__link_tel {
    display: flex;

    color: var(--contact-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    padding-bottom: 21px;
    padding-top: 5px;

    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--secondary-font-color);
    }
  }

  .contact__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
    gap: 50px;
  }

  .contact {
    display: flex;
    margin-left: auto;
    gap: 30px;
  }

  .contact__link {
    display: inline-flex;
    padding: 32px 0px 32px;
    align-items: center;
    line-height: 1.14;
    font-size: 16px;
  }

  .contact__link_tel {
    display: inline-flex;
    padding: 32px 0px 32px;
    align-items: center;
    line-height: 1.14;
    font-size: 16px;
  }

  .contact__icon {
    margin-right: 10px;
  }
}
