.title-h2-2 {
  color: var(--third-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  max-width: 322px;
  margin-left: 24px;
}

.text-team-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: rgba(117, 117, 117, 1);

  padding-top: 4px;
  max-width: 322px;
  margin-left: 24px;
}

.portfolio-box {
  padding: 20px 0px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;
}

.btn-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.button-portfolio {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  border: none;

  background-color: var(--buckground-color-1);
  color: var(--third-font-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

  &:focus,
  &:hover {
    background-color: var(--secondary-font-color);
    color: var(--primari-buckground-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.flex-container {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  flex-basis: calc((100% - 60px) /3); 
}

.flex-container .flex-element {
  width: 370px;

  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
