.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-bottom: 94px;
  }

  .work__title {
    color: var(--third-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    margin-bottom: 50px;
    text-align: center;
  }

  .work__list {
    display: flex;
    column-gap: 30px;
  }

  .work__list li {
    position: relative;
  }

  .work__card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  }

  .work__text {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    color: var(--primari-buckground-color);
    text-transform: uppercase;
    padding: 27px 0px;
  }
}
